* {
    margin: 0;
}

body {
    background: rgb(245, 245, 245);
}

a {
    text-decoration: none;
    color: black
}

img {
    width: 100%;
}

.logo {
    width: 80px;
    z-index: 10;
    padding-left: 5px;
}

/*Nav*/
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(230, 230, 230);
    margin-bottom: 10px;
}

.navItems {
    position: absolute;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.navItems ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navItems ul li {
    margin: 0 10px;
}

.navItems ul li a {
    cursor: pointer;
    padding: 8px 0;
}

.navItems ul li a:hover {
    border-bottom: 2px solid black;
}

.login {
    display: flex;
    align-items: center;
    z-index: 10;
    padding-right: 5px;
}

.login a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.logo-carrito {
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}

.logo-carrito div {
    max-width: 30px;
}

/*item*/
.item {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
}

.item_img {
    max-width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
}

.item_texto {
    margin-top: 10px;
    text-align: start;
}

.item p {
    margin: 0;
    font-size: 20px;
    height: 40px;
}

.item h3 {
    margin: 20px 0;
}

.item__contador {
    display: flex;
    width: 120px;
    align-items: center;
}

.item__contador button {
    width: 100%;
}

.item__contador p {
    margin: 0 10px;
}

.ItemListContainer {
    display: flex;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
}

.ItemList {
    display: flex;
    flex-wrap: wrap;
}

/*itemDetail*/
.itemDetail {
    display: flex;
    width: 1000px;
    margin: 20px 0;
}

.itemDetail_detail {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    flex: 1;
}

.itemDetail_img {
    margin: 40px;
    flex: 2;
}

.itemDetail_detail h4 {
    font-weight: 300;

}

.itemDetail_detail p {
    margin: 20px 0;
}

.itemDetail_detail select {
    border-radius: 0;
    border-color: #d6d6d6;
    background: none;
}

.itemDetail_detail button {
    width: 100%;
    background: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    height: 30px;
    cursor: pointer;
}

/*Nosotros*/
.nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1600px;
    margin: 0 auto;
}

.nosotrosImg {
    width: 800px;
    margin: 40px 0;
}

.nosotros p {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.6em;
}

/*Cart*/
.cartVacio {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.itemCartContainer {
    max-width: 1100px;
    margin: 0 auto;
}

.itemCart {
    display: flex;
    align-items: center;
    border: 1px solid #E2E3E4;
    border-radius: 4px;
    padding: 15px 0;
    margin: 5px 0;
    justify-content: space-around;
}

.itemCart__img {
    max-width: 100px;
}

.productoAgregadoMensaje{
    border: 1px black solid;
    border-radius: 4px;
    margin-top: 10px;
    padding: 0 4px;
}