a{
    text-decoration: none;
    color: black
}
.logo{
    max-width: 40px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 10px;
    background: rgb(245, 245, 245);
}


.navItems ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navItems ul li{
    margin: 0 10px;
}
.navItems ul li a{
    cursor: pointer;
    padding: 8px 0;
}
.navItems ul li a:hover{
    border-bottom: 2px solid black;
}

.login a:hover{
    color: rgba(0, 0, 0, 0.6);
}